=head1 Name

BioX::Workflow::Usage

=head1 BioX::Workflow::Usage

    biox-workflow.pl --workflow /path/to/workflow.yml

{qx{cat Introduction.pod}}
{qx{cat FindSamples.pod}}
{qx{cat Workflow.pod}}
{qx{cat SpecialVariables.pod}}
{qx{cat Example001.pod}}
{qx{cat Example002.pod}}
{qx{cat Example003.pod}}
